*{
    margin: 0;
    box-sizing: border-box;
}
#primeira{
    background-color: #342F2D;
    width: 250px;
    height: 330px;
    color: white;
    float: left;
    margin: 50px 0 0 10px;
}
p{
    padding:10px 0 0 10px;
}
#segunda{
    background-color: #B9C0B2;
    width: 550px;
    height: 550px;
    color: white;
    float: right;
}